### 0. DataFrame Setting

### 1. CAD, CHF, EUR, JPY(100), USD

In [1]:
# 환율 데이터 로딩
import pandas as pd
foreign_currency = pd.read_csv('../data/DAILY_DATA.csv')

# 필요한 국가만 추출
Dataset = foreign_currency[['date', 'CAD', 'CHF', 'EUR', 'GBP', 'JPY(100)', 'USD']]

# Index를 날짜로 변경
Dataset = Dataset.set_index('date')

### 2. Bitcoin

In [2]:
# 경고 메세지 안뜨게 하기
import warnings
warnings.filterwarnings(action='ignore') 

# 데이터 불러오기
import pandas as pd
bitcoin = pd.read_csv('../data/Bitcoin.csv')

# 날짜 형식 변경하기
date = bitcoin['날짜'].apply(lambda x : x.replace('년 ','-'))\
                     .apply(lambda x : x.replace('월 ','-'))\
                     .apply(lambda x : x.replace('일',''))
bitcoin['날짜'] = date

# 칼럼명 변경하기
bitcoin.columns = ['date', 'BITCOIN', 'open', 'high', 'low', 'volume', 'rate']

# 날짜 인덱스로 변경하기
bitcoin = bitcoin.set_index('date')

# 비트코인 값 양식 바꾸기
value = bitcoin['BITCOIN'].apply(lambda x : x.replace(',','')).apply(lambda x : float(x))

# 데이터 프레임을 변경하기
bitcoin = pd.DataFrame(value)

# 2018년 2월 데이터부터 추출하고, 기존 데이터와 merge
Dataset = pd.concat([Dataset, bitcoin], axis=1)['2018-02-01':]
Dataset = Dataset.dropna()

### 3. Tether

In [3]:
# 데이터 불러오기
import pandas as pd
tether = pd.read_csv('../data/tether.csv')

# 날짜에 필요없는 부분 제거
date = tether['snapped_at'].apply(lambda x : x.replace(' 00:00:00 UTC',''))
tether['date'] = date

# 날짜를 인덱스로 바꾸기
tether = tether.set_index('date')

# 칼럼명 지정하기
tether.columns = ['time', 'TETHER', 'market_cap', 'total_volume']

# 테더만 빼오기
tether = tether['TETHER']

# 기존 데이터와 merge
Dataset = pd.concat([Dataset, tether], axis=1)['2018-02-01':]
Dataset = Dataset.dropna()

### 4. 스프레드

### 10. Final Dataset

In [5]:
Dataset = Dataset[['CAD', 'CHF', 'EUR', 'GBP', 'JPY(100)','BITCOIN', 'TETHER', 'USD']]
Dataset

,CAD,CHF,EUR,GBP,JPY(100),BITCOIN,TETHER,USD
2018-02-01,870.10,1149.64,1329.86,1520.71,980.68,9181.1,0.993109,1069.6
2018-02-02,873.26,1156.51,1339.57,1527.55,978.62,8893.2,0.978577,1072.5
2018-02-05,864.82,1154.45,1338.23,1516.53,977.26,6938.5,0.995898,1076.7
2018-02-06,869.51,1168.56,1348.68,1521.91,998.31,7701.2,1.010660,1089.8
2018-02-07,875.55,1169.37,1354.85,1527.15,997.58,7594.7,0.995519,1094.3
...,...,...,...,...,...,...,...,...
2020-01-23,886.78,1203.86,1292.74,1530.94,1060.87,8405.1,0.998594,1165.1
2020-01-28,884.81,1203.42,1286.20,1524.01,1071.37,9377.3,0.997320,1167.2
2020-01-29,893.84,1209.35,1296.84,1532.65,1078.30,9298.9,0.998580,1176.7
2020-01-30,890.94,1208.01,1294.95,1530.80,1078.45,9507.3,0.995919,1176.0
2020-01-31,895.95,1220.80,1305.76,1549.02,1086.68,9349.1,1.000107,1183.5

In [6]:
Dataset.describe()

,CAD,CHF,EUR,GBP,JPY(100),BITCOIN,TETHER,USD
count,488.000000,488.000000,488.000000,488.000000,488.000000,488.000000,488.000000,488.000000
mean,865.181209,1152.852111,1301.400184,1480.077090,1037.725369,7264.929918,1.002774,1137.373361
std,25.362125,39.051593,22.517175,31.624225,45.453765,2240.588916,0.024794,40.989477
min,816.240000,1066.280000,1242.200000,1402.890000,970.910000,3247.800000,0.950716,1057.600000
25%,845.505000,1125.887500,1283.095000,1459.450000,1001.712500,6154.250000,0.998700,1117.600000
50%,859.375000,1141.465000,1300.310000,1479.480000,1019.045000,7331.100000,1.000183,1130.800000
75%,886.852500,1185.987500,1317.565000,1501.410000,1078.635000,8779.425000,1.001784,1172.000000
max,922.010000,1254.230000,1363.360000,1599.620000,1155.080000,13063.800000,1.323095,1218.900000

In [7]:
Dataset.corr()

,CAD,CHF,EUR,GBP,JPY(100),BITCOIN,TETHER,USD
CAD,1.000000,0.912026,0.572748,0.411269,0.879574,0.556033,-0.040365,0.891069
CHF,0.912026,1.000000,0.642800,0.407594,0.918914,0.516065,-0.051527,0.867507
EUR,0.572748,0.642800,1.000000,0.469697,0.571454,0.665194,0.105259,0.389348
GBP,0.411269,0.407594,0.469697,1.000000,0.362376,0.303383,-0.002092,0.275201
JPY(100),0.879574,0.918914,0.571454,0.362376,1.000000,0.515320,-0.053774,0.904886
BITCOIN,0.556033,0.516065,0.665194,0.303383,0.515320,1.000000,0.031389,0.286383
TETHER,-0.040365,-0.051527,0.105259,-0.002092,-0.053774,0.031389,1.000000,-0.026093
USD,0.891069,0.867507,0.389348,0.275201,0.904886,0.286383,-0.026093,1.000000

### 11. Data Save

In [8]:
Dataset.to_csv('../data/er_data.csv', index=True)